<h1>Enter the item you'd like to purchase! </h1>

<form action="/checkout method="POST">

<label for="item_name">Which item would you like to purchase?</label><br>
<input id="item_name" type="text" name="item"><br>

<p><button id="submit" type="submit">Submit</button></p>

</form>
