<form action="/checkout" method="POST">
    <label>What would you like to purchase?</label><br>
    <input type="text" name="item" placeholder="Enter product here:">

    <p><button id="submit" type="submit">Purchase:</button></p>
</form>